/* section 共通*/
.section {
  padding: 60px 0;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
/* section */

/* profile */
.profile-left {
  float: left;
  width: 48%;
}

.profile-right {
  float: right;
  width: 48%;
}
/* profile */
/* course */
.course {
  background-color: #e3fcf4;
  .course-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.course-item {
  width: 30%;
}
/* course */
@media only screen and (max-width: 767px) {
  /* section 共通*/
  .section {
    padding: 80px 0;
    .section-title {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }

  /* profile */
  .profile-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-right {
    float: none;
    width: 100%;
  }

  /* course */
  .course-wrapper {
    flex-wrap: wrap;
  }

  .course-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
